<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <% if current_user.contentposts.any? %>
        <%= render 'contentposts/index' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome!</h1>
    <p>concise-blogは超簡素な個人用ブログツールです。</p>
    <p>140字以上で適当にメモを残したい時や、整形する程ではない文章群をプールしておく場所として利用して下さい。</p>
  </div>
<% end %>