body.container {

}

ul.contentposts {
  list-style: none;
}

.panel {
  margin-bottom: 10px;
}

.panel-footer{
  text-align: right;
}

user a {
  color: #FFFFFF;
}

footer {
  padding: 40px 0;
  font-size: 13px;
  .copyright {
    text-align: center;
    color: #aaa;
  }
}
