body.container {

}

.pagetitle {
  overflow: auto;
}

.pagetitle h1 {
  float: left;
}


ul.contentposts {
  list-style: none;
}

.panel {
  margin-bottom: 10px;
}

.panel-footer{
  text-align: right;
}

footer {
  padding: 40px 0;
  font-size: 13px;
  .copyright {
    text-align: center;
    color: #aaa;
  }
}
